@font-face {
    font-family: 'CenturyGothic'; /*a name to be used later*/
    src: url('../fonts/centurygothic.ttf'); /*URL to font*/
}

body{
    max-width: 1900px;
    margin: 0 auto;
    color: #484747;
    font-family: 'CenturyGothic';
}

.navbar .navbar-default{
	background: white;
	border-color: #fff;
}
.navbar-default {
    background-color: white;
}
.logo{
	margin-top: 73px;
}
.nav li{
	text-align: center;
    font-size: 25px;
}
.center-block{
    margin: 0 auto; 
    background: #fff;
}
.zvonok{
    width: 200px;
    height: 50px;
    margin-left: 35%;
}
.jumbotron{
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}
.krov{
    float: left;  
}
.page{
    margin-top: -43px;
}
.krov-text-main {
  font-size: 16.667px;
  /*font-family: "Century Gothic";*/

  line-height: 1.5;
}

.krov-info-logo{
    padding: 30px;
}
.krov-logo-text-head{
  color: rgb(253, 253, 253);

}
.krov-logo-btn{
  font-size: 41.667px;
  color: rgb(44, 45, 45);

}
.krov-logo-text-main {
  color: rgb(253, 253, 253);

}

.krov-logo{
    background: #38b2ce;
}
.center-text{
	text-align: center;
}
.zabor-logo{
    background-image: url(../images/amunition-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.zabor-text-head, .krov-text-head  {
  font-size: 29px;

  line-height: 1.2;
}
.zabor-text-main {
  font-size: 16.667px;
  line-height: 1.5;
}
.zabor-img-text{
    min-height: 100%;
}
.zabor-img {
    margin: 0 auto;
}
.zabor-logo-main, .zabor-logo-text-main{
  font-size: 30.667px;
  line-height: 1.5;
  background-color: rgba(245, 234, 34, 0.6);
}

.zabor-logo-btn{
  background-color: #38b2ce;
  font-size: 25px; 
  border-color:  #38b2ce;
}

.input-group-textbox{
    height: 46px;
    width: 100%;
    font-size: 24px;
}
.form-xs, .form-md{
	display: none;
}
.saiding-logo{
    background-image: url(../images/wall-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px; 
}
.trotuar-logo-img-md{
		display: none;
}
.trotuar-logo{
    background-color:  #38b2ce;
}
.zabor-logo-br{
	margin-top: 10px;
}
.trotuar-logo-text-head{
    font-size: 41.667px;
    color: rgb(253, 253, 253);
}
.trotuar-logo-lamp-text{
  font-size: 20.667px;  
  color: rgb(253, 253, 253);
}
/*MEDIA*/

@media (max-width: 760px) {
    .center-block{width: 100% !important;}
    .zabor-img-text-left. .zabor-img-text-right{font-size: 10px;}
    .krov-logo-btn, .zabor-logo-btn{font-size: 10px; color: rgb(44, 45, 45); line-height: 0.2;}
    .zabor-logo-btn{width: 200px; font-size: 20px;}
		.krov-logo-text-main {font-size: 10px; color: rgb(253, 253, 253); line-height: 0.2;}
    .krov-logo-text-head {font-size: 10px;  color: rgb(253, 253, 253); line-height: 0.2;}
    .krov-info-logo{padding: 10px; padding-bottom: 0; text-decoration-color: #fff;}
    .trotuar-logo-text-head{font-size: 30.667px; color: rgb(253, 253, 253);}
    .krov-text-main, .zabor-text-main, .saiding-text-main, .trotuar-text-main{font-size: 9.667px;  line-height: 1.5;}
    .zabor-text-head, .krov-text-head, .saiding-text-head, .trotuar-text-head {font-size: 25px;  line-height: 1.2;}
    .zabor-img-text-left, .zabor-img-text-right, .saiding-img-text-left {font-size: 10px; color: rgb(44, 45, 45); line-height: 1.2;}
    .nav li{margin: 0 auto; font-size: 25px;}
    .form-xs{display: block;}
	  .input-group-textbox{ height: 38px; font-size: 19px;}
		.zabor-logo-main, .zabor-logo-text-main{font-size: 15.667px; margin-left: -20px;} 
		.trotuar-logo-img-xs{display: block;}
		.img-xs{width: 50%; height: 50%;}
		.banner{margin-top: 26%;}
		.banner-img{margin-left: 15px;}
		.banner-btn-text{font-size: 6px; margin-top: 115%; margin-left: -29px;}
		.end-logo-btn-text {font-size: 12px;}
		.end-logo-btn{margin-top: 5%; margin-left: 60%;}
		.logo{margin-top: 52px;}
		.end-logo-img{margin-left: 38px;}
}
@media (max-width: 360px){
	.banner-btn-text{margin-top: 149%;!important;}
	.end-logo-btn-text {font-size: 9px;}
}


@media (min-width: 760px) {
    .center-block{width: 98% !important;}
    .zabor-img-text-left. .zabor-img-text-right{font-size: 10px;}
    .krov-logo-btn, .zabor-logo-btn{font-size: 30.667px; color: rgb(44, 45, 45); line-height: 0.8;}
		.krov-logo-text-main {font-size: 20px; color: rgb(253, 253, 253); line-height: 1.111;}
    .krov-logo-text-head {font-size: 23.5px; color: rgb(253, 253, 253); line-height: 0.889;}
    .trotuar-logo-text-head{font-size: 41.667px;  color: rgb(253, 253, 253);}
    .krov-text-main, .zabor-text-main , .saiding-text-main, .trotuar-text-main {font-size: 12.667px;  line-height: 1.5;}
    .zabor-text-head, .krov-text-head, .saiding-text-head, .trotuar-text-head  {font-size: 29px;  line-height: 1.2;}
    .zabor-img-text-left, .zabor-img-text-right, .saiding-img-text-left {font-size: 10px; color: rgb(44, 45, 45); line-height: 1.2;}
    .nav li{text-align: center; margin: 0 auto; width: 180px; font-size: 20px;}
    .form-md{display: block;}
		.zabor-logo-main, .zabor-logo-text-main{font-size: 18.667px;} 
		.trotuar-logo-img-md{display: block;}
		.trotuar-logo-img-xs{display: none;}
		.padding-sm{padding-bottom: 10px;}
		.banner{margin-top: 24%;}
		.banner-img{margin-left: 14px;}
		.banner-btn-text{font-size: 10px; margin-top: 79%;}
		.end-logo-btn-text {font-size: 25px;}
		.end-logo-btn{margin-top: 5%; margin-left: 60%;}
		.end-logo-img{margin-left: 42px;}

}

@media (min-width: 992px) {
    .center-block{width: 84% !important;}
    .zabor-img-text-left. .zabor-img-text-right{font-size: 10px; } 
    .krov-logo-btn, .zabor-logo-btn{font-size: 41.667px;  color: rgb(44, 45, 45); line-height: 0.8;}
    .krov-logo-text-main {font-size: 29px;  color: rgb(253, 253, 253); line-height: 1.111;}
    .krov-logo-text-head  {font-size: 30.5px;  color: rgb(253, 253, 253); line-height: 0.889;}
    .trotuar-logo-text-head {font-size: 41.667px;  color: rgb(253, 253, 253);}
    .krov-text-main, .zabor-text-main, .saiding-text-main, .trotuar-text-main {font-size: 16.667px;   line-height: 1.5;}
    .zabor-text-head, .krov-text-head, .saiding-text-head, .trotuar-text-head  {font-size: 40px;   line-height: 1.2;}
    .zabor-img-text-left, .zabor-img-text-right, .saiding-img-text-left {font-size: 20px;  color: rgb(44, 45, 45); line-height: 1.2;}
    .nav li{text-align: center; width: 200px; margin: 0 auto;font-size: 25px;}
    .form-md{display: block;}
		.zabor-logo-main, .zabor-logo-text-main{font-size: 18.667px;} 
		.trotuar-logo-img-md{	display: block;}
		.trotuar-logo-img-xs{display: none;}
		.padding-sm{padding-bottom: 10px;}
		.banner-img{margin-left: 14px;}
		.banner-btn-text{font-size: 15px; margin-top: 74%;}
		.end-logo-btn-text {font-size: 34px;}
		.end-logo-btn{margin-top: 5%; margin-left: 60%;}
		.end-logo-img{margin-left: 48px;}
}

@media (min-width: 1200px) {

    .center-block{width: 62% !important;}
    .zabor-img-text-left. .zabor-img-text-right{ font-size: 16.667px;}
    .krov-logo-btn, .zabor-logo-btn{font-size: 41.667px;  color: rgb(44, 45, 45); line-height: 0.8;}
    .krov-logo-text-main { font-size: 30px;  color: rgb(253, 253, 253); line-height: 1.111;}
    .krov-logo-text-head { font-size: 37.5px;  color: rgb(253, 253, 253); line-height: 0.889;}
    .trotuar-logo-text-head{font-size: 41.667px;  color: rgb(253, 253, 253);}
    .krov-text-main, .zabor-text-main, .saiding-text-main, .trotuar-text-main {font-size: 20px;   line-height: 1.5;}
    .zabor-text-head, .krov-text-head, .saiding-text-head, .trotuar-text-head  {font-size: 49px;   line-height: 1.2;}
    .zabor-img-text-left, .zabor-img-text-right, .saiding-img-text-left {font-size: 20px;  color: rgb(44, 45, 45); line-height: 1.2;}
    .nav li{text-align: center; width: 200px; margin: 0 auto; font-size: 25px;}
		.form-md{display: block;}
		.zabor-logo-main, .zabor-logo-text-main{font-size: 24.667px;} 
		.trotuar-logo-img-md{display: block;}
		.trotuar-logo-img-xs{display: none;}
		.padding-sm{padding-bottom: 10px;}
		.banner-img{margin-left: 14px; margin-top: -14px;}
		.banner-btn-text{font-size: 23px; margin-top: 68%;}
		.end-logo-btn-text {font-size: 49px;}
		.end-logo-btn{margin-top: 5%; margin-left: 60%;}
		.end-logo-img{margin-left: 64px;}
}

.end-logo {
    padding-bottom: 0;
    background-image: url(../images/banner2.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    height: 445px;
}

.banner-btn{
	position: absolute;
	z-index: 1000;
}
.banner {
	position: absolute;
	z-index: 1000;
}

.banner-btn-text{
	background-color: #FFEB00;
}
.end-logo-btn-text {
	background-color: #FFEB00;
}

.end-logo-btn {
	position: absolute;
	z-index: 1000;
}

.padtop{
    padding-top: 20px;
}

.width-input{
    width: 45%;
}

.fl-right{
    float: right;
}

.fl-left{
    float: left;
}

.fulwidth-margins{
    margin-top: -30px;
    margin-left: -15px;
    margin-right: -15px;
}